
.grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 5px;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.cell.on {
    background-color: rgb(20, 95, 83);
}
